<div class="screenshots" id="education">
  <div class="container">

    <div class="row">
      <div class="row">
        <div class="col-lg-12 col-md-12 clientheader">
          <h1>Education</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <table class="table table-bordered table-striped table-hover">
        <tbody>
        <tr>
          <td>
            <p>AWS Certified Solutional Architect Professional</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>AWS Certified Solutional Architect Associate</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>AWS Certified Solutional Architect Developer</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Master Of Science in Information Technology (Enterprise Software Development concentration) 3.946 GPA</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Bachelor Of Science in Information Technology (Enterprise Software Development concentration) 3.866 GPA</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Sun Certified Enterprise Architect (SCEA) Cleared in 2010</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Cloudera Certifited Hadoop Developer Cleared in 2012</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Cloudera Certifited Hadoop Administrator Cleared in 2012</p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<!-- END EDUCATION -->
