<!-- START DOMAIN KNOWLEDGE -->
<div id="domainknowledge">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-lg-12 col-md-12 clientheader">
          <h1>Domain Knowledge</h1>
        </div>
      </div>
    </div>

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#mms">Materials Management (Inventory Control and Purchase Management)</a>
          </h4>
        </div>
        <div id="mms" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul>
              <li>Material Indent</li>
              <li>Material Requisition</li>
              <li>Material Accounting</li>
              <li>Materail Master Data Management</li>
              <li>Material Issue</li>
              <li>Store Transter</li>
              <li>Warehouse Management</li>
              <li>Material Analysis & Reporting</li>
              <li>Tender & Quitation Process Management</li>
              <li>Purchase Order Management</li>
              <li>Purchase Order Receipt, Inspection</li>
              <li>Material Acceptance & Rejection</li>
              <li>Sales Osder Management</li>
              <li>Accounts Payable & Receiavable Integration</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#af">Accounting and Finance</a>
          </h4>
        </div>
        <div id="af" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li>Chart Of Accounts Management</li>
              <li>Green Field Accounts & Finance Project Implementation</li>
              <li>Genral Ledger</li>
              <li>Accounts Payable</li>
              <li>Accounts Receiavable</li>
              <li>Multi Company Accounting & Finance</li>
              <li>Separate Subsidiary Company Reporting</li>
              <li>Corporate Accounts Consolidation</li>
              <li>Payroll Integration</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#telecom">Telecommunication</a>
          </h4>
        </div>
        <div id="telecom" class="panel-collapse collapse">
          <div class="panel-body">
            <li>Telecom New Customer Registration Process</li>
            <li>Campaign / Promotion Application & Management</li>
            <li>Telecom Billing</li>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#pharma">Pharmacy Benefit</a>
          </h4>
        </div>
        <div id="pharma" class="panel-collapse collapse">
          <div class="panel-body">
            <li>Specifically, Client Contract Management</li>
            <li>Broad Knowledge of how Pharmacy Benefit Industry Works</li>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#hm">Home Mortgage</a>
          </h4>
        </div>
        <div id="hm" class="panel-collapse collapse">
          <div class="panel-body">
            <li>Address Validationt</li>
            <li>Flood Certification Order</li>
            <li>Appraisal Order and Processing</li>
            <li>Title Order</li>
            <li>Loan Application Management, Income, Expenses, Asset, Liabilities</li>
            <li>Broad Knowledge of how Home Mortgage Industry Works</li>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#bi">Business Intelligence</a>
          </h4>
        </div>
        <div id="bi" class="panel-collapse collapse">
          <div class="panel-body">
            <li>Consumer Electronics Retail Analytics</li>
            <li>Health Insurance Analytics</li>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#retail">Retail</a>
          </h4>
        </div>
        <div id="retail" class="panel-collapse collapse">
          <div class="panel-body">
            <li>Product Detail Page</li>
            <li>Product Content Service</li>
            <li>Promotion Service</li>
            <li>Rebates Service</li>
            <li>Consumer Rewards Points Service</li>
            <li>Product Offer Service</li>
            <li>Offer Ranking Service</li>
            <li>Bundle Pricing Service</li>
            <li>Product Fulfillment Service</li>
            <li>Add To Cart Service</li>
            <li>Broad Knowledge of how Online Ecommerce Industry Works</li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--DOMAIN KNOWLEDGE ENDS -->
