<!-- HEADER -->

<div class="header" id="myheader">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 " align="left wow fadeInLeft">
        <!-- <div class="col-lg-12 col-md-12 wow fadeInLeft"> -->

        <h1>Welcome</h1>

        <p>I am One Person, with Multiple IT Skills. However, my multiple skills, all of them, roll up to one : solving businesss problems by building
          IT systems using cutting edge technology, within cost and time budget. That was my mission for the past 20 years and it would
          remain so for the future. I have honed that one skill through years of working with
          teams and individuals. My projects, which are in multiple major business verticals, span across the globe and uses cutting edge technologies.
        </p>

        <ul class="list-inline">
          <li><a href="#professionalexperience" class="btn btn-trans btn-md">See Work Experience</a></li>
          <li><a href="#domainknowledge" class="btn btn-trans btn-md">See Domain Experience</a></li>
        </ul>

      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInRight" align="center">

        <img class="img-responsive header.gallery" src="../assets/images/binit-profile-01.jpg"/>


      </div>

    </div>
  </div>
</div>

<!-- END HEADER -->
