<div class="footer">
  <div class="container">

    <div class="row">

      <div class="col-lg-4 col-md-4">
        <h1><img class="img-responsive" src="../assets/img/logos/binitdattalogo.jpg"/></h1>

        <p>Since 2015</p>

        <p><em>'Adding Value to software development teams since 1995.....'</em></p>
      </div>

      <div class="col-lg-4 col-md-4">
        <h1>GET IN TOUCH:</h1>

        <p><i class="fa fa-phone"></i> 773 318 7847</p>

        <p><i class="fa fa-envelope-o"></i> <a
          href="mailto:binitdatta@gmail.com">binitdatta@gmail.com</a></p>
      </div>

      <div class="col-lg-4 col-md-4">
        <h1>ABOUT ME:</h1>

        <p>Adding Value to software development teams since 1995....</p>

        <p>Binit Datta &copy; 2015</p>
      </div>

    </div>

  </div>
</div>

<!-- END FOOTER -->
