<!-- FEATURES -->

<div class="features" id="features">
  <div class="container">

    <div class="row">

      <h1>Career Summary</h1>

    </div>
    <div class="row">
      <div class=" wow bounceInLeft">
        <table class="table table-bordered table-striped table-hover">
          <tbody>
          <tr>
            <td>
              Proven Track Record of reducing time and cost while delivering defect free systems in production,
              adding value through mentoring and team building.
            </td>
          </tr>
          <tr>
            <td>
              Ability to catch gaps in requirements analysis , test plans, issues in Scrum intra project dependency,
              preventing costly mistakes early on to save time and money.
            </td>
          </tr>
          <tr>
            <td>
              Ability to learn fast and absorb knowledge quickly. First system developed was in FoxPro in 1995, working on
              Amazon Web Service Migration using Docker now.
            </td>
          </tr>
          <tr>
            <td>
              Ability to provide solutions across the teams, solving multi systems business problems, using cutting edge technology.
            </td>
          </tr>
          <tr>
            <td>
              Proven lead designer / architect track record over 20 years for leading and owning end to
              end SDLC of different types.
            </td>
          </tr>
          <tr>
            <td>
              Experienced working for clients in more than 9 different business verticals including
              process and discrete manufacturing, Coal Mining, Banking, Mortgage, Healthcare, Telecom,
              Retail etc.
            </td>
          </tr>
          <tr>
            <td>
              Has the background of communicating successfully to Vice Presidents and above in their
              return on investment terms and explained decision made in software projects.
            </td>
          </tr>
          <tr>
            <td>
              Has the background of communicating successfully to junior and senior developers in their
              low level technology terms, through design documents, verbal presentation, while boarding
              etc.
            </td>
          </tr>
          <tr>
            <td>
              Able to see through future challenges early in the development cycle which leads to very
              detailed design / architecture document lowering risks of future reworks and cost
              escalations.
            </td>
          </tr>
          <tr>
            <td>
              Good exposure in load / stress testing as well Virtual machine tuning is used to eliminate /
              lower chances of production outages and downtime.
            </td>
          </tr>
          <tr>
            <td>
              Strong understanding in across the board technologies used normally in modern software
              development including Databases, Caching, middleware, application servers, Front ends
              including JavaScript libraries and mobile development.
            </td>
          </tr>
          <tr>
            <td>
              Having sound experience on working using Agile methods like EXtreme Programming (XP) and
              SCRUM and RUP methodologies.
            </td>
          </tr>
          <tr>
            <td>
              Large multi site Custom ERP development (in J2EE / Oracle / UNIX platforms) and
              implementation experience is a USP and a specific Edge. High level of familiarity with
              issues in large-scale software projects implementations.
            </td>
          </tr>
          <tr>
            <td>
              Strong experience in developing and deploying J2EE components in IBM Webspehre 6.1 AppServer
              and BEA Weblogic 8.x/9.x,
            </td>
          </tr>
          <tr>
            <td>
              Has practical knowledge of JEE design patterns through real life project implementation in
              multiple projects.
            </td>
          </tr>
          <tr>
            <td>
              Proven track record of developing and mentoring junior moderately paid resources into highly
              productive resources, adding value to the organization.
            </td>
          </tr>
          <tr>
            <td>
              Excellent team player and motivator with good analytical, planning and interpersonal skills.
            </td>
          </tr>


          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- END FEATURES -->
