.screenshots {
  #background-color:#235178;
  padding:10px 0 10px;
  text-align:left;
  color:#242424;
  line-height: 200%;
}

.screenshots img {
  padding: 20px 0 20px;
}

.screenshots h1 {
  font-size:2em;
}

.screenshots a {
  float: right;
  vertical-align: middle !important;
}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  max-width: 250px;
  max-height: 250px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
