<div class="screenshots" id="sears">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 col-md-12 clientheader">
        <h1>Life as it keeps happening!</h1>
      </div>
    </div>

    <div class="row">

          <div class="gallery">
            <a target="_blank" href="../../assets/images/marriage.jpg">
              <img src="../../assets/carousel_images/marriage.jpg" alt="Cinque Terre" >
            </a>
            <div class="desc">My Wife with Husband</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/lake_g_1.jpg">
              <img src="../../assets/images/lake_g_1.jpg" alt="Cinque Terre" width="300" height="200">
            </a>
            <div class="desc">To Lake Geneva WI</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/chicago_2.jpg">
              <img src="../../assets/images/chicago_2.jpg" alt="Forest" max-width="50px" max-height="50px">
            </a>
            <div class="desc">City of Chicago</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/chicago_3.jpg">
              <img src="../../assets/images/chicago_3.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">City of Chicago</div>
          </div>
    </div>

    <div class="row">

          <div class="gallery">
        <a target="_blank" href="../../assets/images/chicago_4.jpg">
          <img src="../../assets/images/chicago_4.jpg" alt="Mountains" width="300" height="200">
        </a>
        <div class="desc">Freezing City</div>
      </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/binit_1.jpg">
              <img src="../../assets/images/binit_1.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">On one of the Trips</div>
          </div>

          <!--   <div class="gallery">
            <a target="_blank" href="../../assets/images/flek_2.JPG">
              <img src="../../assets/images/flek_2.JPG" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">City of Chicago</div>
          </div> -->

          <div class="gallery">
            <a target="_blank" href="../../assets/images/f_d.jpg">
              <img src="../../assets/images/f_d.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">With my Girl</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/flek_glasses.jpg">
              <img src="../../assets/images/flek_glasses.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">When She was little</div>
          </div>
    </div>

    <div class="row">
          <div class="gallery">
            <a target="_blank" href="../../assets/images/life.jpg.JPG">
              <img src="../../assets/images/life.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Some Words I live By</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/IMG_0098.JPG">
              <img src="../../assets/images/IMG_0098.JPG" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Naperville</div>
          </div>



          <div class="gallery">
            <a target="_blank" href="../../assets/images/montana_2.jpg">
              <img src="../../assets/images/montana_2.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Montana-bucket list Constant</div>
          </div>

           <!--   <div class="gallery">
            <a target="_blank" href="../../assets/images/montana_3.jpg">
              <img src="../../assets/images/montana_3.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">City of Chicago</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/montana_4.jpg">
              <img src="../../assets/images/montana_4.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">City of Chicago</div>
          </div> -->

          <div class="gallery">
            <a target="_blank" href="../../assets/images/knowledge.jpg">
              <img src="../../assets/images/knowledge.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Left: AWS / Right: Azure</div>
          </div>

    </div>

    <div class="row">
          <div class="gallery">
            <a target="_blank" href="../../assets/images/not_gibing_up_2.jpg">
              <img src="../../assets/images/not_gibing_up_2.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">On Not Giving Up</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/niagra_6.jpg">
              <img src="../../assets/images/niagra_6.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Niagra</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/summer_math.jpg">
              <img src="../../assets/images/summer_math.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Mom Woke her up!</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/IMG_0186.JPG">
              <img src="../../assets/images/IMG_0186.JPG" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Middle School Grad</div>
          </div>
    </div>

    <div class="row">
          <div class="gallery">
            <a target="_blank" href="../../assets/images/penny_2.jpg">
              <img src="../../assets/images/penny_2.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Our little Penny</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/penny_3.jpg">
              <img src="../../assets/images/penny_3.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">OOOh Rabbits!!!</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/sunrise_1.jpg">
              <img src="../../assets/images/sunrise_1.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Sunrise in Kenosha</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/sunrise_2.jpg">
              <img src="../../assets/images/sunrise_2.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Sunrise in Kenosha</div>
          </div>
    </div>

    <div class="row">
          <div class="gallery">
            <a target="_blank" href="../../assets/images/sunrise_3.jpg">
              <img src="../../assets/images/sunrise_3.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Sunrise in Kenosha</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/napvle_1.jpg">
              <img src="../../assets/images/napvle_1.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Naperville</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/nature_1.jpg">
              <img src="../../assets/images/nature_1.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Natural love to Nature</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/napville_3.jpg">
              <img src="../../assets/images/napville_3.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Naperville</div>
          </div>
    </div>

    <div class="row">
          <div class="gallery">
            <a target="_blank" href="../../assets/images/on-friendship.PNG">
              <img src="../../assets/images/on-friendship.PNG" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">On Friendship</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/YouChildren_02.PNG">
              <img src="../../assets/images/YouChildren_02.PNG" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Your Children aren't Yours</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/IMG_0361.JPG">
              <img src="../../assets/images/IMG_0361.JPG" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Kenosha</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/IMG_0416.JPG">
              <img src="../../assets/images/IMG_0416.JPG" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Kenosha</div>
          </div>
    </div>

    <div class="row">
          <div class="gallery">
            <a target="_blank" href="../../assets/images/IMG_0586.JPG">
              <img src="../../assets/images/IMG_0586.JPG" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Niagra from Canada</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/IMG_0525.JPG">
              <img src="../../assets/images/IMG_0525.JPG" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Niagra from Canada</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/IMG_0023.JPG">
              <img src="../../assets/images/IMG_0023.JPG" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Goodbuy to Sears</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/lake_g_2.jpg">
              <img src="../../assets/images/lake_g_2.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Whatsup</div>
          </div>
    </div>
    <div class="row">
          <div class="gallery">
            <a target="_blank" href="../../assets/images/IMG_0894.JPG">
              <img src="../../assets/images/IMG_0894.JPG" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Glaciar Natinal Park</div>
          </div>

          <!-- <div class="gallery">
            <a target="_blank" href="../../assets/images/IMG_0353.JPG">
              <img src="../../assets/images/IMG_0353.JPG" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">City of Chicago</div>
          </div> -->

          <div class="gallery">
            <a target="_blank" href="../../assets/images/glacier_international_park.jpg">
              <img src="../../assets/images/glacier_international_park.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Glaciar National Park</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/glacier_international_park_1.jpg">
              <img src="../../assets/images/glacier_international_park_1.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Glacier National Park</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/montana_5.jpg">
              <img src="../../assets/images/montana_5.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Montana, Haven on Earth </div>
          </div>
    </div>

    <div class="row">
          <div class="gallery">
            <a target="_blank" href="../../assets/images/montana_6.jpg">
              <img src="../../assets/images/montana_6.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Soothing drive, Montana</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/montana_7.jpg">
              <img src="../../assets/images/montana_7.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Montana</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="../../assets/images/montana_8.jpg">
              <img src="../../assets/images/montana_8.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Montana</div>
          </div>

          <div class="gallery">
        <a target="_blank" href="../../assets/images/glacier_international_park_2.jpg">
          <img src="../../assets/images/glacier_international_park_2.jpg" alt="Northern Lights" width="300" height="200">
        </a>
        <div class="desc">Glacier National Park</div>
      </div>
    </div>

    <div class="row">

          <div class="gallery">
        <a target="_blank" href="../../assets/images/glacier_international_park_4.jpg">
          <img src="../../assets/images/glacier_international_park_4.jpg" alt="Northern Lights" width="300" height="200">
        </a>
        <div class="desc">Glacier National Park</div>
      </div>

          <div class="gallery">
        <a target="_blank" href="../../assets/images/glacier_international_park_5.jpg">
          <img src="../../assets/images/glacier_international_park_5.jpg" alt="Northern Lights" width="300" height="200">
        </a>
        <div class="desc">Glacier National Park</div>
      </div>

          <div class="gallery">
        <a target="_blank" href="../../assets/images/glacier_international_park_6.jpg">
          <img src="../../assets/images/glacier_international_park_6.jpg" alt="Northern Lights" width="300" height="200">
        </a>
        <div class="desc">Glacier National Park</div>
      </div>

    </div>


  </div>
</div>



