<div class="about" id="about">

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h1>WHO I AM...</h1>

        <p>I am a well rounded Information Technology Professional currently serving
          as a Software Engineering Architect at Sears. Over 20 years now, I have mixed technology skills with business domain
          knowledge to serve in more than one fortune 500 companies in business verticals including
          Manufacturing, Coal Mining, Telecom, Banking, Healthcare, Pharmacy Benefit and Retail Ecommerce. I
          have led teams of different sizes following Agile and waterfall, mentored people from freshmen into
          productive resources quickly, design solutions ranging from JavaScript, CSS and HTML in the front
          end, to high performing java web applications in the middle tier. I have also designed and tuned
          multiple Oracle databases in more than one companies. I can clearly envision, for the entire
          technology stack , from front end, middle tier, and backend, both parts of the solution and as a
          whole. This is my USP which results in zero false starts and rework, eliminating delivery delays,
          issues in production and increasing customer satisfaction</p>
      </div>
    </div>
</div>
