/*NAVIGATION*/

.navbar {
  background-color:#242424 !important;
  border-bottom:1px solid #b9b9b9 !important;
  font-family: 'Lato', sans-serif !important;
}

.navbar a {
  color:#cccccc !important;
}

.navbar a:hover {
  color:#ffffff !important;
  background-color:#646464 !important;
}

.navbar-header .navbar-brand {
  color:white !important;
  font-size:1.5em !important;
}

.navbar-default .nav li.active a {
  color:#1d1d1d !important;
}
