<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <app-navbar></app-navbar>

      <app-header></app-header>

      <app-about></app-about>

      <br>

      <app-binit-carousel></app-binit-carousel>

      <br>

      <app-features></app-features>

      <app-prof-experience></app-prof-experience>

      <app-education></app-education>


      <app-tech-skills></app-tech-skills>

      <app-domain-knlwoedge></app-domain-knlwoedge>

      <app-contact></app-contact>

      <app-footer></app-footer>

        </div>
  </div>
</div>






