<!-- Start WELLFFARGO -->
<div class="screenshots" id="sears">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 col-md-12 clientheader">
        <h1><span class="leftsec">Wellsfargo - Banking - July 2006 - August 2007   </span>
          <span class="rightsec"><a class="btn btn-info btn-sm btn-align" href="#professionalexperience">Back</a></span></h1>
      </div>
      <div class="col-lg-12 col-md-12">
        <p>CORE (Common Opportunities, Results, and Experiences): Implementation / Customization of
          Enterprise Originations (EO) product from CGI-AMS. CORE is the umbrella project that is
          broken down into three functional tiers with associated delivery teams: Customer Facing,
          Deal Processing, and Deal Decisioning. The primary business driver of CORE is to allow the
          business to meet speed to market needs; this pervades into almost every aspect of the loan
          origination process using Service Oriented Architectures (SOA) and Web Services.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 clientheader search">
        <h3><span class="leftsec">Area of Contribution </span>
          <span class="rightsec"><a class="btn btn-info btn-sm" href="#professionalexperience">Back</a></span>
        </h3>
      </div>
      <table class="table table-bordered table-striped table-hover">
        <tbody>
        <tr>
          <td>
            <p>Played important role in Browse Services Knowledge Transfer Sessions and reduced time absorb the application.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Led, Designed and mentored incorporation of instant debugging xVerbose tool into Browse Services application, reducing time to detect causes of defects and eliminated long running phone calls to a large extant.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Led, Design Developed service to detect data issues to Browse Routing Service API to find root causes within minutes instead of hours. Influenced rapid resolution of web site issues due to bad data.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Playing the role of an early adapter in AWS Cloud migration projects, mentored team members, wrote knowledge based emails to clarify AWS concepts.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Playing the role of an early adapter in Microservices migration projects, mentored team members on Spring Boot and Spring Cloud, wrote knowledge based emails to clarify Cloud architectural concepts.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Developed POC for Ratings & Review application to use MongoDB and Redis instead of MySQL.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Analyzed and Designed solution for Ratings & Review application for linked swatch issue to use one review for one appliance
              product to be used for other linked appliances with the same product.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Designed Developed Version Services for static assets such as JS and CSS files.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Designed Developed Rebates API.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Led, Designed Developed and implemented ReserveIt functionality.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Led, Designed and Developed Sears Bundle and Collection Of Things Pricing Service.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p> Implmented MongoDB backup by auto-generating mongoexport command lines for
              parameterized mongo collection names.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p> Led, Designed and Developed Integration Testing automation , early warning system,
              and reporting
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Led, Designed and took partial part in migration development of PDP Admin Tool using AngularJS.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Reduced work effort by properly identifying responsible teams for Production Service Now Tickcets and facilitating the reassignment of these tickets. This is important to keep the development focused in development without being side tracked.</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>Led, Designed and took partial part in development of new Template page of the Admin Tool.</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>Wrote Jenkins Job for production deployment to two data centers.</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>Attended and guided deployment of PDP Services.</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>Implemented performance monitoring JMX reporting to Apache Tomcat with Codahel Metrics.</p>
          </td>
        </tr>



        </tbody>
      </table>

      <div class="col-lg-12 col-md-12 clientheader">
        <h3><span class="leftsec">Technologies Used </span>
          <span class="rightsec"><a class="btn btn-info btn-sm" href="#professionalexperience">Back</a></span>
        </h3>
      </div>
      <table class="table table-bordered table-striped table-hover">
        <tbody>
        <tr>
          <td>
            <p>Play Framework</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Java 7 & 8.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Apache Web Server 2.4</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Apache Tomcat</p>
          </td>
        </tr>
        <tr>
          <td>
            <p> MongoDB.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p> Mongo Morphia ODM
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Google Guice
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>RESTFul Services</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>HTML5</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>AngularJS</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Bootstrap 3.x</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>CSS</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>SonarQube</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Cobertura</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Splunk</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Graphite Minitoring Tool</p>
          </td>
        </tr>

        </tbody>
      </table>
    </div>

  </div>
</div>

<!-- End WELLFFARGO -->
