<!-- START TECHNICAL SKILLS -->
<div id="techskills">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-lg-12 col-md-12 clientheader">
          <h1>Technical Skills</h1>
        </div>
      </div>
    </div>

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#businessdomain">Business
              Domains</a>
          </h4>
        </div>
        <div id="businessdomain" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul>
              <li>Manufacturing - Received from developing ERP Software</li>
              <li>Coal Mining - Received from Coal India</li>
              <li>Telecom Received From BellSouth</li>
              <li>Home Mortgage Banking Received From Wellsfargo</li>
              <li>Pharmacy Benefit Received From Express Scripts</li>
              <li>Heath Insurance Received From Ovation</li>
              <li>Printing Received From Jostens</li>
              <li>Virtual Exam Received From Pearson VUE</li>
              <li>GeoSpatial Technology Received From Navteq / Nokia</li>
              <li>Consumer Electronics Business Analysitcs Received From Apple</li>
              <li>Agriculture Received From Monsanto</li>
              <li>Retail Received From Sears</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#awscloud">AWS Cloud
              Skils</a>
          </h4>
        </div>
        <div id="awscloud" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul>
              <li>AWS Virtual Private Cloud VPC</li>
              <li>AWS Relational Database Service RDS</li>
              <li>AWS Elastic Computing Cloud EC2</li>
              <li>AWS Elastic Container Service ECS</li>
              <li>AWS Launch Configuration</li>
              <li>AWS Elastic Load Balancing ELB</li>
              <li>AWS Auto Scaling Groups</li>
              <li>AWS Elastic Block Storage EBS</li>
              <li>AWS custom AMI formation</li>
              <li>AWS Cloudwatch Alarms</li>
              <li>AWS Simple Notification Service SNS</li>
              <li>AWS Command Line Interface CLI</li>
              <li>AWS Blue / Green Deployment</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#springcloud">Spring Boot / Spring Cloud Microservices                             Skils</a>
          </h4>
        </div>
        <div id="springcloud" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul>
              <li>Spring Boot Actuator, HAL, /health, info, Swagger</li>
              <li>Spring Cloud Service Discovery Eureka</li>
              <li>Spring Cloud Declarative Client Feign</li>
              <li>Spring Cloud Config Server</li>
              <li>Spring Cloud Config Client</li>
              <li>Spring Cloud Circuit Breaker Hystrix</li>
              <li>Spring Cloud Intelligent Routing & Proxy Zuul</li>
              <li>Spring Cloud Client Side Load Balancing Ribbon</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#os">Operating System</a>
          </h4>
        </div>
        <div id="os" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li>Windows Server and 7 Client OS</li>
              <li>Red Hat Enterprise Linux (RHEL) 6.x</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#proglang">Programming
              Language</a>
          </h4>
        </div>
        <div id="proglang" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li>Java 7</li>
              <li>PLSQL</li>
              <li>JavaScript</li>
              <li>Groovy</li>
              <li>HTML 5</li>
              <li>CSS and CSS3</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#ide">IDE</a>
          </h4>
        </div>
        <div id="ide" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li>Eclipse</li>
              <li>Idea IntelliJ</li>
              <li>Jetbrains WebStrom</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#jost">Java Open Source
              Tools</a>
          </h4>
        </div>
        <div id="jost" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li>Spring Framework 3.x core including spring-ws, spring-aop, spring-orm,
                spring,jms, spring-mvc, spring-jdbc
              </li>
              <li>Hibernate 3.x</li>
              <li>JodaTime</li>
              <li>Another Neat Tool (ANT)</li>
              <li>Apache Maven</li>
              <li>Gradle</li>
              <li>Jenkins CI</li>
              <li>Play Framework</li>
              <li>Google Giuce</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#pm">Project Management</a>
          </h4>
        </div>
        <div id="pm" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li>Waterfall</li>
              <li>Agile / Scrum</li>
              <li>RUP</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#monitor">Monitoring</a>
          </h4>
        </div>
        <div id="monitor" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li>Splunk</li>
              <li>Graphite</li>
              <li>DropWizard Custom Metrics collection</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#database">Database
              Technologies</a>
          </h4>
        </div>
        <div id="database" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li>Oracle from 7.x till 12g</li>
              <li>MySQL</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#designpatterns">Design
              Patterns</a>
          </h4>
        </div>
        <div id="designpatterns" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li>Manufacturing - Received from developing ERP Software</li>
              <li>Coal Mining - Received from Coal India</li>
              <li>Telecom Received From BellSouth</li>
              <li>Home Mortgage Banking Received From Wellsfargo</li>
              <li>Pharmacy Benefit Received From Express Scripts</li>
              <li>Heath Insurance Received From Ovation</li>
              <li>Printing Received From Jostens</li>
              <li>Virtual Exam Received From Pearson VUE</li>
              <li>GeoSpatial Technology Received From Navteq / Nokia</li>
              <li>Consumer Electronics Business Analysitcs Received From Apple</li>
              <li>Agriculture Received From Monsanto</li>
              <li>Retail Received From Sears</li>
            </ul>
          </div>
        </div>


      </div>
    </div>
