<!-- SCREENSHOTS -->

<div class="professionalexperience" id="professionalexperience">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 col-md-12 clientheader">
        <h1>Professional Experience</h1>
      </div>
    </div>
    <div class="row">

      <table class="table table-bordered table-striped table-hover">
        <tbody>
        <tr>
          <td class="col-md-6">
            <p>Sears.com - Ecommerce - Feb 2014 - till Date</p>
          </td>
          <td class="col-md-2 btn-align text-right">
            <p><a class="btn btn-info btn-sm" href="#sears">View More</a></p>
          </td>
        </tr>
        <tr>
          <td class="col-md-6">
            <p>Northern Trust, Chicago - Banking - Oct 2013 - Feb 2014</p>
          </td>
          <td class="col-md-2 btn-align text-right">
            <p><a class="btn btn-info btn-sm" href="#ntrust">View More</a></p>
          </td>
        </tr>
        <tr>
          <td class="col-md-6">
            <p>Apple, Cupertino, CA - Consumer Electronics - June 11, 2012 Sept 2013</p>
          </td>
          <td class="col-md-2  text-right">
            <p><a class="btn btn-info btn-sm" href="#apple">View More</a></p>
          </td>
        </tr>
        <tr>
          <td class="col-md-6">
            <p>Nokia / Navteq Location & Content - Navigation May 1, 2010 June 5th, 2012</p>
          </td>
          <td class="col-md-2  text-right">
            <p><a class="btn btn-info btn-sm" href="#navteq">View More</a></p>
          </td>
        </tr>
        <tr>
          <td class="col-md-6">
            <p>Perason VUE - Computerised Testing- Nov 1, 2009 April 2010</p>
          </td>
          <td class="col-md-2  text-right">
            <p><a class="btn btn-info btn-sm" href="#pearson">View More</a></p>
          </td>
        </tr>
        <tr>
          <td class="col-md-6">
            <p>Jostens Inc., Richfield, Minneapolis, MN - Jan 2009 Oct 2009 - Printing &
              Publishing</p>
          </td>
          <td class="col-md-2  text-right">
            <p><a class="btn btn-info btn-sm" href="#jostens">View More</a></p>
          </td>
        </tr>
        <tr>
          <td class="col-md-6">
            <p>Ovation Inc, Golden Valley, Minneapolis, MN - Heahtlcare Jan 08 Dec 0</p>
          </td>
          <td class="col-md-2  text-right">
            <p><a class="btn btn-info btn-sm" href="#ovation">View More</a></p>
          </td>
        </tr>
        <tr>
          <td class="col-md-6">
            <p>Express Scripts Inc, Minneapolis, MN - Pharmacy Benefit July 07 - Dec 07</p>
          </td>
          <td class="col-md-2  text-right">
            <p><a class="btn btn-info btn-sm" href="#es">View More</a></p>
          </td>
        </tr>
        <tr>
          <td class="col-md-6">
            <p>WellsFargo Home Mortgage, Des Moines, IA Baniing Aug 06 - July 07</p>
          </td>
          <td class="col-md-2  text-right">
            <p><a class="btn btn-info btn-sm" href="#wellsfargo">View More</a></p>
          </td>
        </tr>
        <tr>
          <td class="col-md-6">
            <p>Bellsouth, USA, Atlanta, GA Apr 05 to Jun 06 - Telecom</p>
          </td>
          <td class="col-md-2 text-right">
            <p><a class="btn btn-info btn-sm" href="#bellsouth">View More</a></p>
          </td>
        </tr>
        <tr>
          <td class="col-md-6">
            <p>Coal India Pvt. Ltd. and its subsidiaries - Feb 00-Mar 05- Coal Mining</p>
          </td>
          <td class="col-md-2 text-right">
            <p><a class="btn btn-info btn-sm" href="#coalindia">View More</a></p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<!-- END SCREENSHOTS -->
